
@model E658.Models.VMLongRunCreate

@{
    ViewBag.Title = "Create Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="content-wrapper" style="min-height:786px">

        <section class="content-header">

            <div id="ErrorMessage" style="margin-top:5px">
                @if (TempData["ScfMsg"] != null)
                {
                    <div id="Msg" class="col-lg-12  alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Alert! </strong> @TempData["ScfMsg"]
                    </div>
                }
                else if (TempData["ErrMsg"] != null)
                {
                    <div id="Msg" class="col-lg-12 alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Alert! </strong>@TempData["ErrMsg"]
                    </div>
                }
                <div id="CreateSuccMeg" class="col-lg-12  alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>

                </div>
            </div>
        </section>
        <br />
        <section class="col-lg-6 connectedSortable">
            <div class="nav-tabs-custom">
                <div class="box-body">
                    <div class="col-lg-6">
                        @*Destination From and @*Destination TO*@
                        <div class="form-group">
                            @Html.Label("Destination From", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.FromLocID, new { @class = "form-control - ", autocomplete = "off", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.E658Date, string.Empty, new { @class = "label label-danger" })
                            @Html.HiddenFor(model => model.ECDID)
                        </div>
                    </div>

                    <div class="col-lg-6">
                        @*Destination TO*@
                        <div class="form-group">
                            @Html.Label("Destination To", new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.ToLocId, ViewBag.DDL_GermsLocation as SelectList, "SELECT", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ToLocId, string.Empty, new { @class = "label label-danger" })
                        </div>
                    </div>

                    <div class="col-lg-12 form-group" id="dvOtherRun">
                        <div class="form-group">
                            @Html.Label("Type Other Location Name", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.OtherLocName, new { @class = "form-control - ", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.OtherLocName, string.Empty, new { @class = "label label-danger" })
                        </div>
                    </div>

                    @*E-658 Run Type and  E658-Date*@
                    @*E-658 Run*@
                    <div class="form-group">
                        <div class="col-lg-6">
                            @Html.Label("Request Category", new { @class = "control-label" })
                            @*@Html.DropDownList("ERTID", ViewBag.DDL_E658RaisedType as IEnumerable<SelectListItem>, "-- Select --", htmlAttributes: new { @class = "form-control" })*@
                            @*@Html.DropDownListFor(model => model.ERTID, ViewBag.DDL_E658RaisedType as SelectList, "SELECT", htmlAttributes: new { @class = "form-control" })*@
                            @Html.ValidationMessageFor(model => model.ERTID, string.Empty, new { @class = "label label-danger" })
                        </div>
                        @*E658-Date*@
                        <div class="col-lg-6">

                            <div class="form-group">
                                @Html.Label("Departure Date", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.E658Date, new { @class = "form-control - ", autocomplete = "off", @type = "date" })
                                @Html.ValidationMessageFor(model => model.E658Date, string.Empty, new { @class = "label label-danger" })

                            </div>

                        </div>
                    </div>
                    @*Journry Start Time*@
                    <div class="form-group">
                        <div class="col-lg-6">
                            @Html.Label("Departure Time", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.JournryStartTime, new { @class = "form-control ", autocomplete = "off", placeholder = "Please enter time", @type = "time" })
                        </div>
                        <div class="col-lg-6">
                            @*Return Date*@
                            <div class="form-group">
                                @Html.Label("Return Date", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.ReturnDate, new { @class = "form-control - ", autocomplete = "off", @type = "date" })
                                @Html.ValidationMessageFor(model => model.RoleID, string.Empty, new { @class = "label label-danger" })
                            </div>
                        </div>
                    </div>

                    @*Purpose*@
                    <div class="form-group">
                        @Html.Label("Purpose", new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Purpose, new { @class = "form-control ", autocomplete = "off" })
                    </div>

                    @*Route*@
                    <div class="form-group">
                        @Html.Label("Route", new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Route, new { @class = "form-control ", autocomplete = "off" })
                    </div>

                    @*Night Park Status*@
                    <div class="form-group">                    
                    @Html.Label("Night Park Status", new { @class = "control-label" })                  
                    </div>

                    <div class="form-group">

                        <div class="col-lg-6">
                            @Html.Label("Yes", new { @class = "control-label" })
                            @Html.RadioButtonFor(m => m.IsNightPark, 1, new { id = "isSingleRecord" })
                        </div>

                        <div class="col-lg-6">
                            @Html.Label("No", new { @class = "control-label" })
                            @Html.RadioButtonFor(m => m.IsNightPark, 2, new { id = "isBulkRecord" })
                        </div>

                        <div class="box-body">
                           
                            <div class="row" id="nightParkLocation">
                                @Html.Label("Type Night Location", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.NightParkLoc, new { @class = "form-control - ", autocomplete = "off" })
                            </div>
                        </div>                        
                    </div>

                    @*Additional Duties*@
                    <div class="form-group">
                        @Html.Label("Additional Duties", new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.AdditionalDuties, new { @class = "form-control ", autocomplete = "off" })
                    </div>

                </div>
            </div>
        </section>

        <section class="col-lg-6 connectedSortable">
            <div class="nav-tabs-custom">
                <div class="box-body">       
                    <div class="row">
                        <div class="box-body">                             
                            <center>
                                @Html.Label("Please Fill OMT Details", new { @class = "control-label" })
                            </center>
                            @*<div class="form-group">
                               
                                <hr />
                            </div>*@

                            @*<div class="col-lg-6">
                                <button id="btnOMTYes" class="btn btn-success" value="1" type="button">Yes</button>
                                @Html.HiddenFor(model => model.IsOMTAvail, new { @id = "OMTAvail" })
                            </div>

                            <div class="col-lg-6">
                                <button id="btnOMTNo" class="btn btn-danger" type="button">No</button>
                            </div>*@

                            @*OMT Service Details*@
                            <div class="form-group" id="dvOMTInfo12" style="margin-top:8px">
                                <div class="col-lg-6">                                    
                                    <div class="form-group">
                                        @Html.Label("Service Number", new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.OMTServiceNo, new { @class = "form-control - ", autocomplete = "off" })
                                        @Html.HiddenFor(model => model.OMTSNo)

                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    
                                    <div class="form-group">
                                        @Html.Label("Rank", new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Rank, new { @class = "form-control ", autocomplete = "off", placeholder = "", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    
                                    <div class="form-group">
                                        @Html.Label("Name", new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control ", autocomplete = "off", placeholder = "", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="box-body">
                            <center>
                                @Html.Label("Please Fill Vehicle Details", new { @class = "control-label" })
                            </center>                         
                             
                            @*<div class="form-group">
                                <hr />
                                @Html.Label("The vehicle is to be detailed from MT section (ප්‍රවාහන අංශයෙන් නම් කළ යුතුය)", new { @class = "control-label" })
                            </div>*@

                            @*<div class="col-lg-6">
                                    <button id="btnVehicleYes" class="btn btn-success" value="10" type="button">Yes</button>
                                    @Html.HiddenFor(model => model.IsVehicleAvail, new { @id = "VehicleAvail" })
                                </div>

                                <div class="col-lg-6">
                                    <button id="btnVehicleNo" class="btn btn-danger" type="button">No</button>
                            </div>*@

                            <div class="form-group" id="dvVehicleInfo2">
                                <div class="col-lg-6">                                    
                                    <div class="form-group">
                                        @Html.Label("Vehicle Reg No", new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.SLAFRegNo, new { @class = "form-control - ", autocomplete = "off" })
                                    </div>                             
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.Label("Vehicle Chassis Number", new { @class = "control-label" })
                                        <input type="text" class="form-control" id="txtVehicleChassisNo" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </section>

        <section class="col-lg-6 connectedSortable">
            <div class="nav-tabs-custom">
                <div class="box-body">
                    @*button*@

                    <div class="form-group">
                        <div class="col-lg-3">
                            <input type="button" value="Clear" class="btn btn-warning pull-left" id="btnClear" name="Clear">
                        </div>
                        <div class="col-lg-3">
                            <input type="button" value="Save" class="btn btn-success" name="btnSave" id="btnSave">
                        </div>
                        <div class="col-lg-3">
                            <button type="button" class="col-lg- btn btn-info" onclick="location.href='@Url.Action("Index", "User")'">
                                <span>Back To Main Page</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
}

<script src="@Url.Content("~/Scripts/Jq.js")"></script>

<script type="text/javascript">

    $(document).ready(function () {

        ///Created BY   : Sqn Ldr Wicky
        ///Created Date : 2024/02/15
        ///Description : hide the Div

        /// Drop down list in Operation Contribution

        $("#staffCar").hide();
        $("#FormationMT").hide();
        $("#dvVehicleInfo").hide();
        $("#dvOMTInfo").hide();
        $("#dvRptLocation").hide();
        $("#dpReportLoc").val("");
        $("#CreateSuccMeg").hide();
        $("#dvOtherRun").hide();
        $("#nightParkLocation").hide();

        $('input[type="radio"]').on('click', function () {
            if ($('#isSingleRecord').is(':checked')) {
                $('#nightParkLocation').show();
            } else {
                $('#nightParkLocation').hide();
            }
        });

    });

    ///Show the Other location data entering text box
    $(function () {
        $("#ToLocId").change(function () {
            if ($(this).val() == 'Other Location') {
                $('#dvOtherRun').show();
            } else {
                $('#dvOtherRun').hide();
            }
        });
    });

     ////load OMT Service No into text box
    /// Load OMT Details

    $(function () {
        $("#OMTServiceNo").change(function () {
            $.ajax({
                url: '@Url.Content("~/E658/getUserInfo")',
                type: 'POST',
                dataType: 'json',
                data: { id: $("#OMTServiceNo").val() },
                success: function (data) {


                    if (data.Message == "This OMT has been allocated to a journey.Please enter another OMT service Number.")
                    {

                        alert("This OMT has been allocated to a journey.Please enter another OMT service Number.");
                        $("#OMTServiceNo").val('');
                        data.Message = {};
                        //$("#dvOMTInfo").css("background-color", "#FF0000");
                    }
                    else
                    {
                        if (data.Name == "Service Number is not valid.") {
                            $("#OMTServiceNo").val(data.Name);
                            $("#Rank").val(data.Name);
                            $("#Name").val(data.Name);
                        }
                        else {
                            $("#OMTSNo").val(data.SNo);
                            $("#Rank").val(data.Rank);
                            $("#Name").val(data.Name);
                        }

                    }
                },
                error: function () {
                    alert("error in function");
                }
            });
        });
    });

       ///load Vehicle Chassine into text box

    $(function () {

    //Created BY   : Sqn Ldr Wicky
    ///Created Date : 2024/05/20
    ///Description : load Vehicle Chassis Number

            $("#SLAFRegNo").change(function () {
            $.ajax({
                url: '@Url.Content("~/E658/getVehicleChassisNo")',
                type: 'POST',
                dataType: 'json',
                data: { id: $("#SLAFRegNo").val() },
                success: function (data) {

                    if (data.ChassisNo == null)
                    {
                        alert("This is not a valid SLAF No");
                    }
                    else
                    {
                        $("#txtVehicleChassisNo").val(data.ChassisNo);

                    }
                },
                error: function () {
                    alert("This is not a valid SLAF Registered No");
                    $("#SLAFRegNo").val('');
                    $("#txtVehicleChassisNo").val('');

                }
            });
        });
    });

     ///// Call Save function

    $(function () {
        $("#btnSave").click(function () {

            var objE658 = {};
            objE658.FromLocID = $("#FromLocID").val();
            objE658.ToLocId = $("#ToLocId").val();
            objE658.ERTID = $("#ERTID").val();
            objE658.E658Date = $("#E658Date").val();
            objE658.JournryStartTime = $("#JournryStartTime").val();
            objE658.ReturnDate = $("#ReturnDate").val();
            //objE658.RequiredDuration = $("#RequiredDuration").val();
            objE658.OtherLocName = $("#OtherLocName").val();
            objE658.Purpose = $("#Purpose").val();
            objE658.Route = $("#Route").val();
            objE658.ECDID = $("#ECDID").val();
            objE658.AdditionalDuties = $("#AdditionalDuties").val();
            var OMTReqFromMT = $("#OMTAvail").val();
            var VehicleReqFromMT = $("#VehicleAvail").val();

            if (OMTReqFromMT == "") {

                objE658.OMTServiceNo = $("#OMTServiceNo").val();
            }
            if (VehicleReqFromMT == "") {

                objE658.SLAFRegNo = $("#SLAFRegNo").val();
            }

            if (objE658.FromLocID == "" || objE658.ToLocId == "" ||  objE658.ERTID == "" ||  objE658.E658Date == "" ||
                objE658.JournryStartTime == "" || objE658.RequiredDuration == "" || objE658.Purpose == "" ||  objE658.Route == "") {

                alert("Please Fill all the Data Fields (කරුණාකර සියලුම දත්තයන් පුරවන්න)");
            }
            else {

                $.ajax({
                    url: '@Url.Content("~/E658/Create")',
                    type: "POST",
                    data: '{objE658:' + JSON.stringify(objE658) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.Message == "Something Error, please contact IT division") {
                            alert(data.Message);
                        }
                        else {

                            $("#CreateSuccMeg").show();

                            $("#CreateSuccMeg").append(data.Message);
                            window.location.href = data.redirectUrl || '@Url.Action("AnotherAction")';
                            //alert(data.Message);


                        }
                    },
                    //error: function () {
                    //    alert("Error while inserting data");
                    //}
                });
            }
        });
    });


</script>



