@model E658.Models.VME658InitiateUser

@{
    ViewBag.Title = "Intiatial User";
    //Layout = null;

}

@using (Html.BeginForm())
{

    <div class="content-wrapper">

        <section class="content-header">
            <h1 style="text-align:center"><span>E-658 Creater Details</span></h1>
            <button type="button" class="col-lg- btn btn-success pull-right" onclick="location.href='@Url.Action("Index", "User")'">
                <span>Back To Main Page</span>
            </button>
            <div id="ErrorMessage" style="margin-top:5px">
                @if (TempData["ScfMsg"] != null)
                {
                    <div id="Msg" class="col-lg-12  alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Alert! </strong> @TempData["ScfMsg"]
                    </div>
                }
                else if (TempData["ErrMsg"] != null)
                {
                    <div id="Msg" class="col-lg-12 alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Alert! </strong>@TempData["ErrMsg"]
                    </div>
                }
            </div>
        </section>

        <br />

        <section class="col-lg-12 connectedSortable" style="margin-top:5px">
            <div class="nav-tabs-custom">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box-body">
                            @*Service No and  @*Rank*@
                            <div class="form-group">
                                @Html.Label("Service Number", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.ServiceNo, new { @class = "form-control - ", autocomplete = "off" })
                                @Html.HiddenFor(model => model.SNo)
                                @Html.ValidationMessageFor(model => model.ServiceNo, string.Empty, new { @class = "label label-danger" })
                            </div>

                            @*Rank*@
                            <div class="form-group">
                                @Html.Label("Rank", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Rank, new { @class = "form-control ", autocomplete = "off", placeholder = "", @readonly = "readonly" })
                            </div>

                            <div class="form-group">
                                @Html.Label("Run Type", new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.RTID, ViewBag.DDL_E658RaisedType as SelectList, "SELECT", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RTID, string.Empty, new { @class = "label label-danger" })

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="box-body">
                            @*Name*@
                            <div class="form-group">
                                @Html.Label("Name", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control ", autocomplete = "off", placeholder = "", @readonly = "readonly" })
                            </div>

                            @*Trade/Brance *@
                            <div class="form-group">
                                @Html.Label("Trade/Branch", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Trade, new { @class = "form-control ", autocomplete = "off", placeholder = "", @readonly = "readonly" })
                            </div>
                            @*Trade/Brance *@
                            <div class="form-group">
                                @Html.Label("User Location", new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.UserLoginLocation, ViewBag.DDL_GERSLocation as SelectList, "SELECT", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UserLoginLocation, string.Empty, new { @class = "label label-danger" })
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <section>
                <div class="nav-tabs-custom">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="staffCar">
                                <div class="box-body">
                                    @*Staff car Owner *@
                                    <div class="form-group">
                                        <div class="col-lg-3">
                                            @Html.Label("Service Number (Officer, Allocated the staff vehicle)", new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.StaffServiceNo, new { @class = "form-control - ", autocomplete = "off" })
                                            @Html.HiddenFor(model => model.StaffSNo)
                                            @Html.ValidationMessageFor(model => model.StaffServiceNo, string.Empty, new { @class = "label label-danger" })
                                        </div>
                                        <div class="col-lg-3">
                                            <p><p>@Html.Label("Rank", new { @class = "control-label" })</p>
                                            @Html.TextBoxFor(model => model.StaffRank, new { @class = "form-control - ", autocomplete = "off", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(model => model.StaffRank, string.Empty, new { @class = "label label-danger" })
                                        </div>
                                        <div class="col-lg-3">
                                            <p><p>@Html.Label("Name", new { @class = "control-label" }) </p>
                                            @Html.TextBoxFor(model => model.StaffFullName, new { @class = "form-control - ", autocomplete = "off", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(model => model.StaffFullName, string.Empty, new { @class = "label label-danger" })
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="p-t-10" style="padding-top:24px">
                                                <input type="submit" value="Next" class="btn btn-info pull-right" name="btnName">

                                                @*@Html.ActionLink("Next", "E658InitiateUser", "User", new { @class = "btn btn--radius btn-info" })*@
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div id="FormationMT">
                                <div class="box-body">
                                    @*FormationMT *@
                                    <div class="form-group">

                                        @* Select location *@

                                        <div class="col-lg-3">
                                            @Html.Label("Select Location", new { @class = "control-label" })
                                            @Html.DropDownListFor(model => model.LocationId, ViewBag.DDL_EpasLocation as SelectList, "SELECT", htmlAttributes: new { @class = "form-control" })
                                        </div>

                                        @* Division*@
                                        <div class="col-lg-3">
                                            @Html.Label("Select Division", new { @class = "control-label" })
                                            @Html.DropDownListFor(model => model.DivisionId, new SelectList(string.Empty, "Value", "Text"), "SELECT", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.DivisionId, string.Empty, new { @class = "label label-danger" })

                                        </div>

                                        <div class="col-lg-3">
                                            <div class="p-t-10" style="padding-top:24px">
                                                <input type="submit" value="Next" class="btn btn-info pull-right" name="btnName">
                                                @*@Html.ActionLink("Next", "E658InitiateUser", "User", new { @class = "btn btn--radius btn-info" })*@
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
}




<script src="@Url.Content("~/Scripts/Jq.js")"></script>

<script type="text/javascript">

    $(document).ready(function () {
        ///Created BY   : Sqn Ldr Wicky
        ///Created Date : 2024/02/15
        ///Description : hide the Div

        /// Drop down list in Operation Contribution
        $("#staffCar").hide();
        $("#FormationMT").hide();
        $("#RTID").val("");
    });

    /// Load E658 creater Person details
    $(function () {
        $("#ServiceNo").change(function () {
            $.ajax({
                url: '@Url.Content("~/User/getUserInfo")',
                type: 'POST',
                dataType: 'json',
                data: { id: $("#ServiceNo").val() },
                success: function (data) {
                    if (data.ServiceNo == "Service number is not valid.") {
                        alert("Service number is not valid.");
                        $("#ServiceNo").val('');
                        $("#SNo").val('');
                    }
                    else {
                        $("#ServiceNo").val(data.ServiceNo);
                        $("#SNo").val(data.SNo);
                        $("#FullName").val(data.Name);
                        $("#Rank").val(data.Rank);
                        $("#Trade").val(data.Branch);
                    }
                },
                error: function () {
                    alert("error in function");
                }
            });
        });
    });

    /// show div retated to selection critetria
    //10 - Staff Vehicle E 658 , 11 - Formation  E 658 , 12 - MT Section E 658 , 13 - DGS E 658

    $(function () {

        $("#RTID").change(function () {
            debugger;
            var RTID = $("#RTID").val();

            if (RTID == 10) {
                $("#staffCar").show();
                $("#FormationMT").hide();
            }
            else if (RTID == 11 || RTID == 12) {
                $("#FormationMT").show();
                $("#staffCar").hide();
            }
            else {

            }

        });
    });
    /// Load Staff car details
    $(function () {
        $("#StaffServiceNo").change(function () {
            $.ajax({
                url: '@Url.Content("~/User/getUserInfo")',
                type: 'POST',
                dataType: 'json',
                data: { id: $("#StaffServiceNo").val() },
                success: function (data) {
                    if (data.ServiceNo == "Service number is not valid.") {
                        alert("Service number is not valid.");
                        $("#ServiceNo").val('');
                        $("#SNo").val('');
                    }
                    else {
                        $("#StaffServiceNo").val(data.ServiceNo);
                        $("#StaffSNo").val(data.SNo);
                        $("#StaffFullName").val(data.Name);
                        $("#StaffRank").val(data.Rank);
                                           }
                },
                error: function () {
                    alert("error in function");
                }
            });
        });
    });

    $(function () {
        //DDL for Select
        $("#LocationId").change(function () {
            //DDL Automaticaly Bind
            $("#DivisionId").empty();
            $.ajax({
                type: 'POST',
                dataType: "json",
                url: './FromLocation',
                data: { id: $("#LocationId").val() },
                success: function (FromLocation) {
                    var items = '<option>SELECT</option>';
                    $('#DivisionId').html(items);
                    $.each(FromLocation, function (i, FromLocation) {
                        $("#DivisionId").append('<option value="' + FromLocation.Value + '">' +
                           FromLocation.Text + '</option>');
                        //$("#District").val(data.DESCRIPTION);
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve Make.' + ex);
                }
            });
            return false;
        })
    });


</script>