
@using E658.Models
@model IEnumerable<E658.Models.VME658Create>

@{
    ViewBag.Title = "Inquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{



    @Html.AntiForgeryToken()

    <div class="content-wrapper" style="height:900px !important;">

        <section class="content-header">

            <h1>
                E-658 - Inquiry
                <small>View Run Details</small>
            </h1>

            <ol class="breadcrumb">
                <li>
                    <a href="#"><i class="fa fa-dashboard"></i> E-658</a>
                </li>
                <li class="active">View Run Details</li>
            </ol>

            <div id="ErrorMessage">
                @if (TempData["ScfMsg"] != null)
                {
                    <div id="Msg" class="col-lg-12  alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Alert! </strong> @TempData["ScfMsg"]
                    </div>
                }
                else if (TempData["ErrMsg"] != null)
                {
                    <div id="Msg" class="col-lg-12 alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Alert! </strong>@TempData["ErrMsg"]
                    </div>

                }

            </div>

        </section>

        <br />

        <section class="col-lg-12 nav-tabs-custom connectedSortable">

            @using (Html.BeginForm("E658List", "E658", FormMethod.Post))
            {
                <div class="input-group col-lg-6">
                    @Html.TextBox("SearchString",new { placeholder = "Type the E658 Reference No ", @class = "form-control"})
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            }

            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-lg-6">
                        <br />
                        <dl class="dl-horizontal">
                            @* Destination From: *@
                            <dt class="form-group">
                                Destination From :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => item.FromLocID)
                            </dd>

                            @*Destination To *@
                            <dt class="form-group">
                                Destination To :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => item.ToLocId)
                            </dd>

                            @*E658 RefNo *@
                            <dt class="form-group">
                                E-658 Reference No :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => item.UnitSerialNo)
                                @Html.HiddenFor(model => item.ECDID, new { id = "CreatorID" })
                                @Html.HiddenFor(model => item.EFTID, new { id = "FlowID" })
                                @Html.HiddenFor(model => item.RoleID, new { id = "RoleID" })
                            </dd>

                            @* E-658 Run Type : *@
                            <dt class="form-group">
                                E-658 Run Type :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => item.E658RunType)
                            </dd>

                            @* E-658 Behavior : *@
                            <dt class="form-group">
                                E-658 Behavior :
                            </dt>
                            @*Need to replace*@
                            <dd>
                                @Html.DisplayFor(model => item.TypeName)
                            </dd>

                            @* E-658 Date : *@
                            <dt class="form-group">
                                E-658 Date :
                            </dt>

                            <dd>
                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.E658Date))


                            </dd>

                            @*Journry Start Time : *@
                            <dt class="form-group">
                                Journey Start Time :
                            </dt>

                            <dd>
                                @Convert.ToString(string.Format("{0:HH:mm tt}", item.JournryStartTime))

                            </dd>

                            @*Journry Return Date : *@
                            <dt class="form-group">
                                Journey Return Date  :
                            </dt>

                            <dd>
                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ReturnDate))

                            </dd>

                            @*Purpose :*@
                            <dt class="form-group">
                                Purpose :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => item.Purpose)

                            </dd>

                            @* Route :*@
                            <dt class="form-group">
                                Route :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => item.Route)

                            </dd>

                            @if (item.IsOMTAvail == 1)
                            {
                                @* OMTStatus :*@
                                <dt class="form-group alert alert-info" style="height:50px;margin-bottom:4px">
                                    OMT Status :
                                </dt>

                                if (item.RoleID == (int)E658.Enum.EnumE658UserType.MToOCT || item.RoleID == (int)E658.Enum.EnumE658UserType.RecordCertified)
                                {
                                    <dd class="form-group">
                                        @Html.Label("Assign an OMT ", new { @class = "control-label" })
                                        @Html.CheckBox("isAssignOMT", false)
                                    </dd>
                                }
                                else
                                {
                                    <dd class="form-group alert alert-info" style="height:50px;margin-bottom:4px">
                                        @Html.DisplayFor(model => item.OMTStatus)
                                    </dd>
                                }
                            }

                            else
                            {
                                @* OMTStatus :*@
                                <dt class="form-group">
                                    OMT Service No :
                                </dt>

                                <dt class="form-group">
                                    @Html.Label("Edit OMT", new { @class = "control-label" })
                                    @Html.CheckBox("isEditOMT", false)
                                </dt>

                                <dd class="form-group">
                                    @Html.DisplayFor(model => item.OMTServiceNo)

                                </dd>

                            }

                            @if (item.IsVehicleAvail == 10)
                            {
                                @* OMTStatus :*@
                                <dt class="form-group alert alert-info" style="height:50px;margin-bottom:4px">
                                    Vehicle Status :
                                </dt>

                                if (item.RoleID == (int)E658.Enum.EnumE658UserType.MToOCT || item.RoleID == (int)E658.Enum.EnumE658UserType.RecordCertified)
                                {
                                    <dd class="form-group">
                                        @Html.Label("Assign a Vehicle", new { @class = "control-label" })
                                        @Html.CheckBox("isAssignVehicle", false)

                                    </dd>
                                }
                                else
                                {
                                    <dd class="form-group alert alert-info" style="height:50px;margin-bottom:4px;width:220px">
                                        @Html.DisplayFor(model => item.VehicleStatus)

                                    </dd>
                                }
                            }

                            else
                            {
                                @* OMTStatus :*@
                                <dt class="form-group">
                                    Vehicle SLAF Reg No :
                                </dt>

                                <dt class="form-group">
                                    @Html.Label("Edit Vehicle", new { @class = "control-label" })
                                    @Html.CheckBox("isEditVehicle", false)

                                </dt>

                                <dd class="form-group">
                                    @Html.DisplayFor(model => item.SLAFRegNo)

                                </dd>
                            }
                        </dl>
                    </div>

                    <div class="col-lg-6" style="margin-top:15px   ">
                        @*@{
                        var rptLoc = TempData["RptLocation"];
                        @Html.Partial("_E658ReportLoc", rptLoc);
                    }*@


                    </div>

                    if (item.RecordStatus != 2)
                    {

                    }

                    else
                    {
                        <dl class="dl-horizontal">
                            @*Record Status :*@
                            <dd>

                                <P style="text-align:center">
                                    <b style="background-color:crimson">Your Record has been rejected.</b>
                                </P>

                            </dd>

                        </dl>
                    }

                }
            }

        </section>

        <section class="col-lg-12 nav-tabs-custom connectedSortable">
            <div class="nav-tabs-custom">
                <div class="box-body">

                    @* OMT Service Details*@

                    <div class="form-group" id="dvOMTInfo" style="margin-top:8px">
                        <h5>Enter nominated OMT Service Number and click save button</h5>
                        <div class="col-lg-2">
                            @*Service Number*@
                            <div class="form-group">
                                @Html.Label("Service Number", new { @class = "control-label" })
                                <input type="text" class="form-control" id="txtOMTServiceNo" />
                            </div>
                        </div>

                        <div class="col-lg-2">
                            @*Rank*@
                            <div class="form-group">
                                @Html.Label("Rank", new { @class = "control-label" })
                                <input type="text" class="form-control" id="txtRank" readonly />
                            </div>
                        </div>

                        <div class="col-lg-6">
                            @*Name*@
                            <div class="form-group">
                                @Html.Label("Name", new { @class = "control-label" })
                                <input type="text" class="form-control" id="txtFullName" readonly />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            @*BtnOmtSave*@
                            <div class="form-group">
                                @Html.Label("Click the Save Button", new { @class = "control-label" })
                                <input type="button" value="Save" class="btn btn-success" id="btnSaveOmt" name="Save">
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="dvVehicleInfo">
                        <h5>Enter nominated Vehicle  Number and click save button</h5>
                        <div class="col-lg-4">
                            @*Vehicle No*@
                            <div class="form-group">
                                @Html.Label("Vehicle Reg No", new { @class = "control-label" })
                                <input type="text" class="form-control" id="txtVehicleRegNo" />
                            </div>

                            @*Vehicle Attached Location*@
                            <div class="form-group">
                                @Html.Label("Vehicle Attached Location", new { @class = "control-label" })
                                <input type="text" class="form-control" id="txtVehicleAttachedLoc" readonly />
                            </div>

                        </div>
                        <div class="col-lg-4">
                            @*Vehicle Chassis Number*@
                            <div class="form-group">
                                @Html.Label("Vehicle Chassis Number", new { @class = "control-label" })
                                <input type="text" class="form-control" id="txtVehicleChassisNo" readonly />
                            </div>

                        </div>
                        <div class="col-lg-4">
                            @*btn Save Vehicle*@
                            <div class="form-group">
                                @Html.Label("Click the Save Button", new { @class = "control-label" })
                                <input type="button" value="Save" class="btn btn-success" id="btnSaveVehicle" name="Save">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div>

}



<script src="~/Scripts/Jq.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        ///Created BY   : Sqn Ldr Wicky
        ///Created Date : 2024/05/15
        ///Description : hide the Div

        /// Drop down list in Operation Contribution

        $("#dvOMTInfo").hide();
        $("#dvVehicleInfo").hide();

    });

    $(function () {

        //Created BY   : Sqn Ldr Wicky
        ///Created Date : 2024/05/15
        ///Description : show and hide the dvOMTInfo div

        var clickCount = 0;
        $("#isAssignOMT").click(function () {
            clickCount++;
            if (clickCount % 2 === 1) {
                $("#dvOMTInfo").show();
            }
            else {
                $("#dvOMTInfo").hide();
            }

        });
    });

    $(function () {

        //Created BY   : Sqn Ldr Wicky
        ///Created Date : 2024/05/15
        ///Description : show and hide the dvVehicleInfo div

        var clickCount = 0;

        $("#isAssignVehicle").click(function () {
            clickCount++;
            if (clickCount % 2 === 1) {
                $("#dvVehicleInfo").show();
            }
            else {
                $("#dvVehicleInfo").hide();
            }

        });
    });

    $(function () {

        //Created BY   : Sqn Ldr Wicky
        ///Created Date : 2024/05/15
        ///Description : load OMT service Details

        $("#txtOMTServiceNo").change(function () {
            $.ajax({
                url: '@Url.Content("~/E658/getUserInfo")',
                type: 'POST',
                dataType: 'json',
                data: { id: $("#txtOMTServiceNo").val()},
                success: function (data)
                {
                    if (data.Message == "This OMT has been allocated to a journey.Please enter another OMT service Number.")
                    {
                        alert("This OMT has been allocated to a journey.Please enter another OMT service Number.");
                        $("#txtOMTServiceNo").val('');
                        data.Message = {};
                    }
                    else
                    {
                        if (data.Name == "Service number is not valid.")
                        {
                            alert("Service number is not valid.");
                            $("#txtOMTServiceNo").val('');
                            data.Name = {};

                        }
                        else
                        {
                            $("#txtOMTServiceNo").val(data.ServiceNo);
                            $("#txtRank").val(data.Rank);
                            $("#txtFullName").val(data.Name);
                        }
                    }
                },
                error: function () {
                    alert("error in function");
                }
            });
        });
    });

    $(function () {

        //Created BY   : Sqn Ldr Wicky
        ///Created Date : 2024/05/20
        ///Description : load Vehicle Chassis Number

        $("#txtVehicleRegNo").change(function () {
            $.ajax({
                url: '@Url.Content("~/E658/getVehicleChassisNo")',
                type: 'POST',
                dataType: 'json',
                data: { id: $("#txtVehicleRegNo").val() },
                success: function (data) {

                    if (data.ChassisNo == null)
                    {
                        alert("This is not a valid SLAF No");
                    }
                    else
                    {
                        $("#txtVehicleChassisNo").val(data.ChassisNo);
                        $("#txtVehicleAttachedLoc").val(data.AttachedLocationID);
                    }
                },
                error: function () {
                    alert("This is not a valid SLAF Registered No");
                    $("#txtVehicleRegNo").val('');
                    $("#txtVehicleChassisNo").val('');

                }
            });
        });
    });

    $(function () {

        //Created BY   : Sqn Ldr Wicky
        ///Created Date: 2024/05/15
        ///Description : Update the OMT Details

        $("#btnSaveOmt").click(function () {

            var txtOMTServiceNo = $("#txtOMTServiceNo").val();
            var ecdidValue = document.getElementById("CreatorID").value;

            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/E658/UpdateOMTRecord")',
                dataType: 'json',
                data: { id: txtOMTServiceNo, ECDID: ecdidValue },
                success: function (data) {
                    alert(data.Message);
                    location.reload();


                    if (data.ServiceNo == "Service number is not valid.") {


                    }
                    else {

                    }
                },
                error: function () {
                    alert("error in function");
                }
            });
        });
    });

    $(function () {

        //Created BY   : Sqn Ldr Wicky
        ///Created Date: 2024/05/15
        ///Description : Update the Vehicle Details

        $("#btnSaveVehicle").click(function () {

            var txtOMTVehicleNo = $("#txtVehicleRegNo").val();
            var ecdidValue = document.getElementById("CreatorID").value;
            var chassisNo = $("#txtVehicleChassisNo").val();
            var vehicleLoc = $("#txtVehicleAttachedLoc").val();
            $.ajax({
                url: '@Url.Content("~/E658/UpdateVehicleRecord")',
                type: 'POST',
                dataType: 'json',
                data: { id: txtOMTVehicleNo, ECDID: ecdidValue, ChassisNo: chassisNo, VehicleAttachedLoc: vehicleLoc},
                success: function (data) {
                    alert(data.Message);
                    location.reload();
                    if (data.ServiceNo == "Service number is not valid.") {


                    }
                    else {

                    }
                },
                error: function () {
                    alert("error in function");
                }
            });
        });
    });

    $(function () {
         $('#btnReject').click(function () {

             debugger;
             var E658CreatorID = $("#CreatorID").val();
             var EFlowID = $("#FlowID").val();
             var RoleID = $("#RoleID").val();

             $.ajax({
                 url: '@Url.Action("Reject", "E658")?ECDID=' + E658CreatorID + '&EFlowID=' + EFlowID + '&RoleId=' + RoleID,
             type: 'GET',
             success: function (data) {
                $('#modalContainerReject').html(data);
                $('#recordDetailsModal2').modal('show');
             },
              error: function (xhr, status, error) {
                console.error('Error loading details:', status, error);
            }
          });

             //var route = '@Url.Action("Reject", "E658")?ECDID=' + E658CreatorID + '&EFlowID=' + EFlowID + '&RoleId=' + RoleID;
             //console.log(route);
            //$('#partial2').load(route);
        });
    });

    ////Edit Function for OMT and vehicle

    $(function () {

        //Created BY   : Sqn Ldr Wicky
        ///Created Date : 2024/05/15
        ///Description : show and hide the dvOMTInfo div

        var clickCount = 0;
        $("#isEditOMT").click(function () {
            clickCount++;
            if (clickCount % 2 === 1) {
                $("#dvOMTInfo").show();
            }
            else {
                $("#dvOMTInfo").hide();
            }

        });
    });

    $(function () {

        //Created BY   : Sqn Ldr Wicky
        ///Created Date : 2024/05/15
        ///Description : show and hide the dvVehicleInfo div

        var clickCount = 0;
        $("#isEditVehicle").click(function () {
            clickCount++;
            if (clickCount % 2 === 1) {
                $("#dvVehicleInfo").show();
            }
            else {
                $("#dvVehicleInfo").hide();
            }

        });
    });


</script>

