@model IEnumerable<E658.Models.VME658Create>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.FromLocID)</td>
                <td> @Html.DisplayFor(model => item.ToLocId)</td>
                <td>
                    <button type="button" class="btn btn-info" onclick="showRecordDetails('@item.UnitSerialNo')">View Details</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Placeholder for the modal -->
<div id="modalContainer"></div>


<script src="@Url.Content("~/Scripts/Jq.js")"></script>
<script>
    function showRecordDetails(id) {
        $.ajax({
            url: '@Url.Action("Index2", "E658")/' + id,
            type: 'GET',
            success: function (data) {
                $('#modalContainer').html(data);
                $('#recordDetailsModal').modal('show');
            },
            error: function (xhr, status, error) {
                console.error('Error loading details:', status, error);
            }
        });
    }
</script>
